@page "/"
@using System.Linq
@using global::Shared
@using Helper
@inject List<CompleteSong> Songs
<PageTitle>Songs</PageTitle>

<h1>Songs</h1>

<DataGrid Items="Songs">
  <DataColumn Title="Artist" Field="@(x => x.Artist)" IsSortable="true" IsDefaultSort="true" IsFilterable="true"/>
  <DataColumn Title="Title" Field="@(x => x.Title)" IsSortable="true" IsFilterable="true"/>
  <DataColumn Title="Score" Field="@(x => x.HighScore()?.Score.ToString() ?? string.Empty)" IsSortable="true" IsFilterable="true" Width="6em"/>
  <DataColumn Title="Scores" Field="@(x => x.Scores.Count())" IsSortable="true" IsFilterable="true" Width="6em"/>
  <DataColumn Title="Player" Field="@(x => x.HighScore()?.Holder ?? string.Empty)" IsSortable="true" IsFilterable="true" Width="6em"/>
  <DataColumn Title="Date" Field="@(x => x.HighScore()?.DateTime)" DisplayFunc="@(x => x?.ToString("d"))" IsSortable="true" IsFilterable="true" Width="6em"/>
  @{
  }
</DataGrid>
